@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}
